.label {
    margin: 1.25em 0 0.25em 0;
    text-transform: uppercase;
}

.aircraft:not(:first-child) {
    margin-top: 0.25em;
}

.aircraft-heading,
.aircraft-subheading {
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.aircraft-subheading > span:not(:first-child) {
    margin-left: 0.5em;
}
.aircraft-subheading .fas {
    margin-right: 0.1em;
}
.aircraft-subheading sup {
    margin-left: 0.3em;
}

.aircraft-heading > small:not(:first-child),
.aircraft-metadata > small:not(:first-child) {
    margin-left: 0.3em;
}
.aircraft-metadata .fas,
.aircraft-metadata .far {
    margin-right: 0.1em;
}
.aircraft-metadata sup {
    margin-left: 0.3em;
}